<% if(error_msg.length > 0){ %>
    <div class="div_error">
        <span class="error"> <%= error_msg %> </span>
    </div>
<% } %>

<% if(succes_msg.length > 0){ %>
    <div class="div_exito">
        <span class="exito"> <%= succes_msg %> </span>
    </div>
<% } %>
