
<div class="cambiar_clave">

    <h3>Debe actualizar su clave para poder acceder a las funciones que desea</h3>

    <form action="/cambio_clave" method="POST">

        <label>Clave nueva</label>
        <input type="password" name="Clave">

        <label>Repetir clave</label>
        <input type="password" name="Clave2">

        <button>Cambiar</button>

    </form>

</div>