<form action="/iniciar_sesion" method="POST" class="formulario_registro">
    <div class="seccion_formulario">
        <label>Cuit/Cuil</label>
        <input type="number" name="Cuit_Cuil"> 
    </div>

    <div class="seccion_formulario">
        <label>Clave</label>
        <input type="password" name="Contrasenia"> 
    </div>
    
    <div class="botones_registrar">
        <a href="" class="boton_registrar">Cancelar</a>
        <button type="submit" class="boton_registrar">Iniciar</button>
    </div>
    
</form>