<article class="info">
    <div class="imagen">
        <h2 class="titulo">Contactos</h2>
        <img src="/img/logoBlanco.jpg" alt="">
    </div>
    <div class="texto">
        
        <a href="https://www.instagram.com/jkncargo/?hl=es" class="contacto">
            <img src="/img/instagram.svg" alt="">
            <span>@jkncargo</span>
        </a>

        <a class="contacto" href="https://api.whatsapp.com/send?phone=5491131794091">
            <img src="/img/whatsapp.svg" alt="">
            <span> + 54 9 11 31794091</span>
        </a>

        <a class="contacto">
            <img src="/img/telefono.svg" alt="">
            <span>+ 54 11 7502-7796</span>
        </a>

        <a href="mailto:info@jkncargo.com" class="contacto">
            <img src="/img/sobre.svg" alt="">
            <span>info@jkncargo.com</span>
        </a>

    </div>
</article>