<div class="marco">
            
    <div class="imagen_containers">

    </div>
    
    <article class="introduccion">
        <img src="/img/logo_.png" class="titulo">
    <!-- <h3 class="frase">Somos la empresa de servicios logísticos que puede ofrecerle toda la cadena de suministro ajustándose a sus necesidades</h3>-->
        <!--<div>
            <span class="mas">Mas info</span>
            <img class="flecha" src="./img/flecha1.svg" alt="">
        </div>-->  
    </article>

</div>



<div class="titulo_servicios">
    <h2>Servicios</h2>
</div>
<article class="servicios">


    <a class="servicio_imagen nacional" href="/servicio_nacional">
        <h3>Transporte Nacional</h3>
  
        <div class="efecto"></div>
    </a>


    <a class="servicio_imagen internacional" href="/servicio_internacional">
        <h3>Transporte Internacional</h3>

        <div class="efecto"></div>
    </a>

    <a class="servicio_imagen depositos" href="/deposito">
        <h3>Depósitos</h3>

        <div class="efecto"></div>
    </a>

    <a class="servicio_imagen utilitarios" href="/servicios_y_utilitarios">
        <h3>Camioneta y utilitarios</h3>
  
        <div class="efecto"></div>
    </a>
</article>




<div class="titulo_servicios">
    <h4 class="otros_servicios_h4">Otros servicios</h4>
</div>
<article class="otros_servicios">


<section class="otros_servicios_section">

<h3 class="titulo_otros_servicios">Asesoramiento Aduanero</h3>
<div class="tarjeta">
    
    <div class="cara_frontal cara cara1">
   
        
        <button class="girar">Ver info</button>  
    </div>
    <div class="cara_trasera cara">
        <p class="info">Brindamos asistencia aduanera tanto en origen como en destino, lo que permite optimizar recursos, tiempo, y beneficios impositivos. 
        </p>
        <button class="girar">Volver</button>  
    </div>
</div>

</section>

<section class="otros_servicios_section">

<h3 class="titulo_otros_servicios">Seguro de mercaderia</h3>
<div class="tarjeta">
    <div class="cara_frontal cara cara2">
       

        <button class="girar">Ver info</button>  
    </div>
    <div class="cara_trasera cara">
        <p class="info">
            Aseguramos las cargas con las mejores tarifas del mercado para satisfacer las necesidades de nuestros clientes y brindarles mayor tranquilidad. <br>
            -Seguro puerta a puerta (cubriendo el costo del flete y deberes). <br>
            -Seguro puerto a puerto. <br>
            -Seguro contra todo riesgo <br>

        </p>
        <button class="girar">Volver</button>  
    </div>
</div>

</section>

<section class="otros_servicios_section">

<h3 class="titulo_otros_servicios">Distribucion de E-commerce</h3>
<div class="tarjeta">
    <div class="cara_frontal cara cara3">
        
        
        <button class="girar">Ver info</button>  
    </div>
    <div class="cara_trasera cara">
        <p class="info">Almacenamos, preparamos y entregamos los productos en tiempo y forma.
            Somos el socio logístico ideal, que aporta y apoya a sus clientes en sus ventas.
            </p>
        <button class="girar">Volver</button>  
    </div>
</div>

</section>
 

</article>

<footer>


<div class="seccion_footer seccion1">
    <img class="logo_footer" src="img/logo_.png" alt="">
    <div class="links_footer">
        <a href="/sobre_nosotros">>&nbsp;&nbsp;&nbsp;Sobre Nosotros</a>
        <a href="/preguntas_frecuentes">>&nbsp;&nbsp;&nbsp;Preguntas frecuentes</a>
        <a href="/cotizacion">>&nbsp;&nbsp;&nbsp;Pedir cotizacion</a>
        <a href="/contacto">>&nbsp;&nbsp;&nbsp;Contacto</a>
    </div>
</div>
<div class="seccion_footer seccion2">
    <div class="contacto">
        <span>Tel: +54 11 7502-7796</span>
        <span>Whatsapp: +54 9 1131794091</span>
        <span>info@jkncargo.com</span>
    </div>
    <div class="redes">
        <a href="https://api.whatsapp.com/send?phone=1131794091"><img src="/img/whatsapp.svg" alt=""></a>
        <a href="https://www.instagram.com/jkncargo/?hl=es"><img src="/img/instagram.svg" alt=""></a>
        <a href="mailto:info@jkncargo.com"><img src="/img/sobre.svg" alt=""></a>
    </div>
</div>

</footer>

<script src="/js/tarjetas.js"></script>