<article class="preguntas">

    <section class="pregunta_seccion">

        <div class="tarjeta">
            <div class="cara_frontal cara girar">
                <img src="/img/consulta.svg" alt="">
                <h3 class="titulo_preguntas">¿Con ustedes podre seguir el estado de mis cargas?</h3>
            </div>
            <div class="cara_trasera cara">
                <p class="info">Claro que sí. Al convertirte en nuestro cliente te vamos a habilitar una cuenta para que puedas ver cual es el estado de tu carga en todo momento.</p>
                <button class="girar">Volver</button>  
            </div>
        </div>

    </section>

    <section class="pregunta_seccion">

        <div class="tarjeta">
            <div class="cara_frontal cara girar">
                <img src="/img/consulta.svg" alt="">
                <h3 class="titulo_preguntas">¿Puedo delegar toda la operación logística con ustedes?</h3>
            </div>
            <div class="cara_trasera cara">
                <p class="info">Si, es la ventaja que ofrecemos nosotros, ser su único operador logístico para de está manera no solo abaratarán costos sino que ganarán tiempo, delegando todo tipo de documentación y coordinación. Es simple en lugar de tener que coordinar entre 2 o más proveedores, nos encargamos de todo nosotros.</p>
                <button class="girar">Volver</button>  
            </div>
        </div>

    </section>

    <section class="pregunta_seccion">

        <div class="tarjeta">
            <div class="cara_frontal cara girar">
                <img src="/img/consulta.svg" alt="">
                <h3 class="titulo_preguntas">¿Pueden asegurar mis cargas?</h3>
            </div>
            <div class="cara_trasera cara">
                <p class="info"> Si, por supuesto, asegurar las cargas es un punto fundamental en la logística internacional ya que la mercadería pasa por todo un proceso:
                    Identificación de carga, embalaje, desplazamiento, descarga, almacenamiento y entrega. El riesgo inicia desde que comienza el proceso de embalaje. De allí la importancia de asegurar la mercancía para evitar perdidas económicas.</p>
                <button class="girar">Volver</button>  
            </div>
        </div>

    </section>

</article>

<script src="/js/preguntas.js"></script>