<article class="info">
    <div class="imagen">
        <h2 class="titulo">Depósitos Fiscales y Nacionales</h2>
        <img src="/img/Deposito2.png" alt="">
    </div>
    <div class="texto">
        <h3>Depósitos Fiscales</h3>
        <p>
            Nuestra historia y experiencia en el mercado nos permiten establecer acuerdos comerciales para brindar el servicio de Depósito Fiscales: <br>
            - Consolidación y desconsolidación de todo tipo de mercaderías <br>
            - Almacenamiento <br>
            - Tránsito <br>
            - Traslados <br>
         </p>  
        <h3>Depósitos Nacionales</h3>
         <p>Depósitos nacionales, ubicados estratégicamente en zona sur y zona norte. <br>
            Ofrecemos  estampillado, picking, etiquetado,  control de stock digital, preparado de pedidos, distribución etc. 
        </p>
    </div>
</article>