<article class="info">
    <div class="imagen">
        <h2 class="titulo">Transporte Nacional</h2>
        <img src="/img/camioneta.jpeg" alt="">
    </div>
    <div class="texto">
            
       <h3>En JKN Cargo contamos con una flota de vehículos propios de distintas dimensiones  que  cumplen con las normas de seguridad y reglamentaciones vigentes. Transportamos todo tipo de carga:</h3> <br>
       <p>
            - Suelta <br>
            - Paletizada <br>
            - Unitarizada <br>
            - Contenedores <br>
            - A granel <br>
            - IMO <br>
            - Refrigeradas <br>
            - Frágil <br>
            - Voluminosas <br>
            - Alimenticias <br>
       </p>
    </div>
</article>

<article class="imagenes">
    <div class="imagen1"></div>
    <div class="imagen2"></div>
</article>