<article class="info">
    <div class="imagen">
        <h2 class="titulo">Transporte Internacional</h2>
        <img src="/img/barco.jpg" alt="">
    </div>
    <div class="texto">
            <h3>Marítimo</h3>
            <p>
                Gracias a nuestra red de agentes y al asesoramiento de nuestros agentes de aduana  operamos en todos los puertos del mundo. Garantizamos eficacia y tarifas competitivas. <br>
                -Contenedores Exclusivos (FCL) o Consolidados (LCL)<br>
                -Granel <br>
                -IMO   <br>
                etc. <br>
            </p>
            <h3>Transporte Aéreo</h3>
            <p>
                IMPO-EXPO <br>
                Nuestro acuerdo con las compañías aérea nos permiten ofrecer a todos nuestros clientes tarifas competitivas, seguridad de reservas y frecuencia 
            </p>
            <h3>Transporte Terrestre </h3>
            <p>
                Llegamos a todos nuestros países limítrofes: Chile, Paraguay, Uruguay, Brasil y Bolivia.<br>
                Ofrecemos servicios LTL y FTL  
            </p>
    </div>
</article>

<article class="imagenes">
    <img src="/img/avion.jpg" alt="">
    <img src="/img/camion2.jpg" alt="">
</article>
</main>