<article class="info">
    <div class="imagen">
        <h2 class="titulo">Camioneta y utilitarios</h2>
        <img src="/img/utilitarios.png" alt="">
    </div>
    <div class="texto">
        <p>Especiales para repartos, cargas pequeñas y/o livianas. Contamos unidades propias, con seguimiento satelital ofreciendo así a nuestros clientes  tranquilidad y seguridad. <br> <br>
            Gracias al trabajo de nuestro equipo, estamos en condiciones de ofrecer  tarifas verdaderamente competitivas 
            </p> 

    </div>