<article class="info">
    <div class="imagen">
        <h2 class="titulo">Sobre nosotros</h2>
        <img src="/img/logoBlanco.jpg" alt="">
    </div>
    <div class="texto">
        <p>Somos una  empresa de servicios logísticos, que cubre toda la cadena de suministro. <br> <br>
            Fundada hace una década en la Ciudad Autónoma de Buenos Aires, JKN Cargo cuenta con experiencia y un equipo de trabajo altamente capacitado para responder, resolver y brindar un servicio conforme a las necesidades y exigencias de cada cliente integrando procesos y costos de manera eficaz y competitiva. <br> <br>
            Dinámicos y reactivos proponemos una amplia gama de servicios, organizamos  y gestionamos de manera  integral la cadena logística, asesoramos  sobre la reglamentación y gestión aduanera. <br> <br>
            Se trate de una importación o de una exportación, de un traslado o distribución, JKN cargo  es el socio necesario que garantiza el buen desarrollo de las operaciones. <br></p> 

    </div>
</article>